<h1>Welcome to a basic addition calculator</h1>
<h1>enter 2 numbers and see the outcome</h1>

<form action="/sum" method="post">
  <input type="text" name="name">
  <input type="number" name="first_num">
  <input type="number" name="second_num">
  <input type="submit" value="Submit">
</form>